.footerContainer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  
    
    color: white;
    /* text-align: center; */
}
.footer{
    display: flex;
    align-items: center;
    color: white;
    margin: 1.5rem 5rem;
    
   
}
.footer > h2{
    flex: 1;
}
.footer__socialContainer{
    display: flex;

}
.footer__SocialIcons{
    margin: auto .2rem;
}
@media screen and (max-width:900px) {
    .footer > h2{
        font-size: small;
    }
    .footerContainer{
        margin-bottom: 0;
       
    }
}